.projectHero{
    padding-top: 423px;
    margin-bottom: 80px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .tag, .cat{
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $lgrey;
        flex: 1;
        white-space: nowrap;
    }
    h1{
        font-size: 120px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        line-height: (100/120);
    }
    video{
        margin-top: 80px;
        width: 100%;
        height: auto;
    }
    .cat{
        text-align: right;
    }
}
.nextProject{
    position: relative;
    margin-top: 340px;
    margin-bottom: 400px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .label, .year{
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $lgrey;
        flex: 1;
        white-space: nowrap;
    }
    h2{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: rv(60px, 120px);
        font-weight: 500;
        line-height: 1;
    }
    figure{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
        img, video{
            aspect-ratio: 246/308;
            border-radius: 24px;
            display: block;
            object-fit: cover;
            max-width: 246px;
        }
    }
}
